body {
  background-color: #E6E6E6;
}

h1 {
        background-color: #CED8F6;
	text-align: center;
        margin-right: 0;
}
.header {
	padding: 40px;
	text-align: center;
	background: #CED8F6;
}

.header h1 {
	text-align: center;
	font-size: 40px;
	font-family: Castellar, Helvetica, sans-serif;
}

h4 {
  float: left;
  font-family: Castellar, Helvetica, sans-serif;
  margin-left:10px;
}
h5 {
  float: right;
  font-family: Castellar, Helvetica, sans-serif;
  margin-right:10px;
  margin-top:30px;
}
footer h4 {
  font-family: Castellar, Helvetica, sans-serif;
  position: absolute;
  left: 45%;
  bottom: 2%;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #AAA;
}

