body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


.rightinfo {
    float: right;
    text-align: left;
    margin-right: 300px;
}
h1 {
        background-color: #CED8F6;
	text-align: center;
        margin-right: 0;
}
.header {
	padding: 40px;
	text-align: center;
	background: #CED8F6;
}

.header h1 {
	text-align: center;
	font-size: 40px;
	font-family: Castellar, Helvetica, sans-serif;
}
h4 {
  float: left;
  font-family: Castellar, Helvetica, sans-serif;
  margin-left:10px;
}
h5 {
  float: right;
  font-family: Castellar, Helvetica, sans-serif;
  margin-right:10px;
  margin-top:30px;
}
